* {
	margin: 0;
	border: none;
	padding: 0;
}
a {
	text-decoration: none;
}

.toc {
	margin: 5em auto 0;
	width: 90em;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}
.group {
	padding: 0 15px;
}
.title {
	width: 100%;
	font-family: Montserrat,sans-serif;
	font-size: 32px;
	color: #323232;
	line-height: 36px;
}
.group-box {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}
.subgroup {
	padding-bottom: 45px;
}
.subgroup:not(:last-child) {
	padding-right: 30px;
}
.sg-title {
	width: 100%;
	font-family: Montserrat,sans-serif;
	font-size: 28px;
	color: #545454;
	line-height: 32px;
}
ul {
	list-style: none;
}
li {
	padding-top: 10px;
}
li a {
	font-family: Inconsolata,monospace;
	font-size: 25px;
	text-decoration: none;
	color: #1870b9;
	line-height: 30px;
}
li a:hover {
	color: #ba35e3;
	font-weight: 700;
}
