body {
	margin: 8px;
	background: #131110;
	color: #edede2;
}
a {
	text-decoration: none;
	color: #edede2;
}
.code {
	background: #272822;
	color: #f8f8f2;
	padding: 10px;
	border-radius: 5px;
	white-space: pre-wrap;
}
.code-type {
	color: #66d9ef;
	font-style: italic;
}
.code-type-pointer,.code-keyword,.code-var-arg {
	color: #f92672;
	font-style: normal;
}
.code-arg {
	color: #fd971f;
}
.code-name {
	color: #a6e22e;
}
.code-annotation {
	color: #e6db74;
}
.code-comment {
	color: #75715e;
}
.code-type-other {
	color: #e6db74;
	font-style: italic;
}
